@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&display=swap');

.bodyFlex {
  display: flex;
  justify-content: center;
  text-align: start;
}

.h4Design {
 font-size: 20px;
 color: #37A15C;
 text-align: start;
}
