@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&display=swap');

body {
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url('/ezgif.com-gif-maker.jpg');
    color: white;
    overflow: hidden;
    font-family: 'Bowlby One SC', cursive;
    background-size: cover;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

ul {
  padding: 3px;
}

li, h4 {
  padding: .4rem;
  font-size: 25px;
  list-style: none;
  cursor: pointer;
}

li:hover {
  transform: scale(1.2);
  color: #38A15C
}

h1 {
  padding-right: .5rem;
}

h2 {
  text-align: center;
}

h4 {
 color: #38A15C
}

button {
/*   background-color: #37BF82; */
  background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 33px;
  padding: 0px 8px 0px 8px;
  font-family: 'Bowlby One SC', cursive;
}

button:hover {
  background-color: #2D363A;
} 

textarea {
  font-size: 38px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border: solid;
  border-width: 2px;
  color: #MD2333
}

input[type="text"], textarea {
    background-color : #F3F2EF;
    font-family: 'Bowlby One SC', cursive;
}

select {
  height: 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

p {
  margin: 3px;
  font-size: 40px;
}
