@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400&family=Roboto+Slab:wght@300&display=swap');

body {
  overflow: hidden;
  font-family: 'Lato', sans-serif;
  background-size: cover;
  background: rgb(244,245,248);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

ul {
  padding: 3px;
  margin-top: 0;
  text-align: start;
  margin-bottom: 0;
}

li, h4 {
  padding: .4rem;
  font-size: 20px;
  list-style: none;
  color: #34383C;
  font-weight: 400
}

li {
  cursor: pointer;
  padding-bottom: 0;
  padding-top: 0;
  font-family: 'Lato', sans-serif;
}

li:hover {
  transform: scale(1.2);
  color: #FF4545;
}

h1 {
  padding-right: .5rem;
}

h2 {
  color: #2c88d3;
  margin-bottom: 0;
}

h4 {
 margin-top: 5px;
 margin-bottom: 0;
 padding-bottom: 0;
 font-size: 25px;
 text-align: start;
 color: #2c88d3;
}

h3 {
  text-align: start;
  color: #34383C;
  margin: 5px;
  font-family: 'Lato', sans-serif;
  margin-top: 35px;
  font-weight: 300;
}

textarea {
  height: 300px;
  width: 655px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border: solid;
  border-width: 2px;
}

input[type="text"], textarea {
    font-family: 'Lato', sans-serif;
    color: #34383C;
    padding: 10px;
    border-style: none; 
    border-color: transparent; 
    overflow: auto; 
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 1px 4px, rgba(0, 0, 0, 0.09) 0px 1px 8px, rgba(0, 0, 0, 0.09) 0px 1px 16px;
    font-size: 25px;
    font-weight: 400;
}

textarea:focus, input:focus{
    outline: 0;
}

*:focus {
    outline: 0;
}

select {
  height: 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

p {
  margin: 3px;
  font-size: 40px;
  color: #34383C;
  white-space: pre-wrap;
}

span {
  font-family: 'Lato', sans-serif;
  font-size: 25px;
}

img {
  border-radius: 5px;
}
