@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');

body {
    overflow: hidden;
    font-family: Bowlby One SC, cursive;
    background-size: cover;
    background-color: #e0e0e0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

ul {
  padding: 3px;
  margin-top: 0;
  text-align: start;
}

li, h4 {
  padding: .4rem;
  font-size: 20px;
  list-style: none;
  color: #34383C;
  font-family: Bowlby One SC,cursive;
}

li {
  cursor: pointer;
}

li:hover {
  transform: scale(1.2);
  color: #38A15C
}

h1 {
  padding-right: .5rem;
}

h2 {
  color: #37A15C;
  margin-bottom: 0;
}

h4 {
 margin-bottom: 0;
 padding-bottom: 0;
 font-size: 25px;
 color: #37A15C;
}

h3 {
  text-align: start;
  color: #34383C;
  margin: 2px 0px 2px 0px;
  font-family: Roboto, sans-serif;
}

/* button {
  background-image: linear-gradient(to right top, #053726, #11604a, #1a8b74, #1dbaa4, #12ebd8);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 33px;
  padding: 0px 8px 0px 8px;
  font-family: 'Bowlby One SC', cursive;
}

button:hover {
  background-image: linear-gradient(to right top, #12ebd8, #1dbaa4, #1a8b74, #11604a, #053726);
  transform: scale(1.05);
}  */

textarea {
  height: 300px;
  width: 720px;
  font-size: 38px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border: solid;
  border-width: 2px;
}

input[type="text"], textarea {
    font-family: Bowlby One SC,cursive;
    color: #34383C;
    padding: 10px;
    border-style: none; 
    border-color: transparent; 
    overflow: auto; 
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

textarea:focus, input:focus{
    outline: 0;
}

*:focus {
    outline: 0;
}

select {
  height: 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

p {
  margin: 3px;
  font-size: 40px;
  color: #34383C;
}
