.container {
  padding: 0 2rem;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main2 {
   flex-direction: column;
   display: flex;
 width: 100%;
    align-content: center;
    align-items: center;
}

.pAnd {
  display: flex;
  justify-content: around;
}

.flex {
  display: flex;
  justify-content: between;
  flex-wrap: wrap;
}

/* .flex2 {
  display: flex;
  justify-content: between;
  flex-direction: column;
} */

.block {
    display: block;
}

.yearWidth {
  max-width: 42%;
}

.flexModel {
  margin-top: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.flexColumn {
  margin: none;
  display: flex;
}

.img {
  padding: 1rem;
}

/* 
.button30:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  background-image: linear-gradient(to right top, #053726, #11604a, #1a8b74, #1dbaa4, #12ebd8);;
}

.button30:hover {
  cursor: pointer;
  background-image: linear-gradient(to right top, #12ebd8, #1dbaa4, #1a8b74, #11604a, #053726);
}

.button30:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}

<!-- HTML !-->
<button class="button-55" role="button">Button 55</button> */

.button30 {
  align-self: center;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #38A15C;
  cursor: pointer;
  display: inline-block;
  font-family: Neucha, sans-serif;
  font-size: 1rem;
  line-height: 23px;
  outline: none;
  padding: .5rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  font-size: 20px;
  font-family: 'Bowlby One SC', cursive;
  border-color: white;
  background-color: #38A15C;
  color: white;
}

.button30:hover {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
  border-color: #38A15C;
  background-color: white;
  color: #38A15C;
}

.button30:focus {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}

.outline {
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: white;
}
