@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&display=swap');

.container {
  padding: 0 2rem;
}

.gridContainer {
  display: grid;
  gap: 1rem;
  grid-template-columns: auto auto;
  padding: 10px;
  height: 99vh;
}
.gridItem {
  padding: 20px;
  text-align: center;
}

.main {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  align-items: center;
}

.main2 {
  flex-direction: column;
  display: flex;
  width: 100%;
  align-content: center;
  align-items: center;
}

.pAnd {
  display: flex;
  justify-content: around;
}

.flex {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.flexButtons {
  display: flex;
}

/* .flex2 {
  display: flex;
  justify-content: between;
  flex-direction: column;
} */

.block {
    display: block;
}

.yearWidth {
  margin: auto;
  max-width: 60%;
}

.flexModel {
  margin-top: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.flexColumn {
  margin: none;
  display: flex;
}

.img {
  padding: 1rem;
}

.button30, .button31 {
  align-self: center;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  line-height: 23px;
  outline: none;
  /* padding: .5rem; */
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  font-size: 20px;
  font-family: 'Bowlby One SC', cursive;
  border-color: #34383C;
  color: white;
  margin: 5px;
}

.button30 {
  background-color: #38A15C;
}

.button30:hover {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
  border-color: #38A15C;
  background-color: white;
  color: #38A15C;
}

.button31:hover {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
  border-color: #386ba1;
  background-color: white;
  color: #386ba1;
}

.button30:focus,
.button31:focus {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}

.buttonDiv {
  margin: 2rem;
}

.button31 {
  background-color: #386ba1;
  font-size: 14px;
  border-color: white;
}

.bodyMargin {
  margin-top: 5px;
}

