@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto+Slab:wght@300&display=swap');

.container {
  padding: 0 2rem;
}

.gridContainer {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 100%;
  padding: 10px;
}

.gridItem {
  padding: 20px;
  text-align: center;
  width: 100%;
}

.main {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  align-items: center;
}

.main2 {
  flex-direction: column;
  display: flex;
  width: 100%;
  align-content: center;
  align-items: center;
}

.pAnd {
  display: flex;
  justify-content: around;
}

.flex {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.flexButtons {
  display: flex;
}

.block {
    display: block;
}

.imgDim {
  height: 400px;
  width: 655px;
  margin-top: 11px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.yearWidth {
  margin: auto;
  max-width: 90%;
}

.flexModel {
  margin-top: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.flexModelChild:nth-child(n+2) {
  margin-top: 0;
}

.h4Child {
  margin-bottom: 0;
  padding-bottom: 0;
}

.h4Child2 {
  margin-top: 0;
}

.flexColumn {
  margin: none;
  display: flex;
}

.img {
  padding: 1rem;
}

.button30, 
.button31, 
.button29,
.button28,
.screenShot {
  align-self: center;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(230, 57, 70, .6) 15px 28px 25px -18px;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  line-height: 23px;
  outline: none;
  /* padding: .5rem; */
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  font-size: 20px;
  font-family: 'Lato', sans-serif;
  border-color: #34383C;
  color: white;
  margin: 5px;
  margin-top: 0;
}

.button30 {
  background-color: #2c88d3;
  margin-top: 15px;
}

.screenShot {
  margin-top: 0
}

.button29,
.button28 {
  background: #673AB7;
  font-size: 14px;
  border-color: black;
}

.button30:hover,
.button31:hover,
.button29:hover,
.button28 {
  box-shadow: rgba(230, 57, 70, .6) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
  border-color: #FF4545;
  background-color: #F1FAEE;
  color: #FF4545;
}

.button30:focus,
.button31:focus,
.button31:focus {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}

.buttonDiv {
  margin: 2rem;
}

.button31 {
  background-color: #2c88d3;
  font-size: 14px;
  border-color: #34383C;
}

.bodyMargin {
  margin-top: 5px;
}

.buttonBody {
  margin-left: 12px;
}

.styleIframe {
  margin-top: 35px;
  text-align: left;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  width: 640px;
  border: none;
  border-radius: 10px;
}

.clearedData {
  max-width: 600px;
}

.flexBegin {
  display: flex;
  justify-content: start;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  width: 450px;
}

